# pandas and text methods

We will create a DataFrame to practice with:

In [1]:
import pandas as pd

names = ["Erika Schumacher", "Javi López", "Maria Rovira", "Ana Garamond", 
         "Shekhar Biswas", "Muriel Adams", "Saira Polom", "Alex Edwin", 
         "Kit Ching", "Dog Woof"]
ages = [22, 50, 23, 29, 44, 30, 25, 71, 35, 2]
nations = ["DE", "ES", "ES", "ES", "IN", "DE", "IN", "UK", "UK", "XX"]
sibilings = [2, 0, 4, 1, 1, 2, 3, 7, 0, 9]
colors = ["Red", "Yellow", "Yellow", "Blue", "Red", "Yellow", "Blue", "Blue", "Red", "Gray"]



people = pd.DataFrame({"name":names,
                       "age":ages,
                       "country":nations,
                       "sibilings":sibilings,
                       "favourite_color":colors
                      })

people.head()

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
1        Javi López   50      ES          0          Yellow
2      Maria Rovira   23      ES          4          Yellow
3      Ana Garamond   29      ES          1            Blue
4    Shekhar Biswas   44      IN          1             Red

## String Operations

You have already learned how to filter data with simple conditions, like getting all people whose favourite colour is "Red":

In [ ]:
people.loc[people["favourite_color"]=="Red",:]

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
4    Shekhar Biswas   44      IN          1             Red
8         Kit Ching   35      UK          0             Red

When it comes to text data, sometimes the conditions are more complex. How would we select all the people whose name starts with a certain letter? 

This is where pandas String Operations are really helpful. Go through [this user guide](https://pandas.pydata.org/docs/user_guide/text.html#string-methods) from Pandas' documentation, it's a good introduction. Here are some examples:

Filtering rows with name starting with A:

- first we generate the boolean expression

In [2]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html

people.name.str.startswith("A")

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9    False
Name: name, dtype: bool

- and then pass it to `loc[]`

In [3]:
people.loc[people.name.str.startswith("A"),]

           name  age country  sibilings favourite_color
3  Ana Garamond   29      ES          1            Blue
7    Alex Edwin   71      UK          7            Blue

String methods can also change text:

In [4]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html

people.name.str.lower()

0    erika schumacher
1          javi lópez
2        maria rovira
3        ana garamond
4      shekhar biswas
5        muriel adams
6         saira polom
7          alex edwin
8           kit ching
9            dog woof
Name: name, dtype: object

Note that we have just outputted these names, but we have not changed the original dataframe:

In [5]:
people.head(2)

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
1        Javi López   50      ES          0          Yellow

pandas will not make changes to the original data unless you explicitly tell it to do so. If we wanted to change the original dataframe, we would have assign this output (the names in lower case) to the column in the dataframe we want to change. When doing that, it is important that you select that column using `loc[]`, and not simply `DataFrame.column`:

In [6]:
people.loc[:,"name"] = people.name.str.lower()

In [7]:
# now the original dataframe has been modified:
people.head(2)

               name  age country  sibilings favourite_color
0  erika schumacher   22      DE          2             Red
1        javi lópez   50      ES          0          Yellow

###### **Exercise 1:**
select all people whose name contains (either in the first name or the surname) the letter `p`.

In [35]:
# your code here
people.head()
people.loc[people.name.str.contains('p'),:]

          name  age country  sibilings favourite_color
1   javi lópez   50      ES          0          Yellow
6  saira polom   25      IN          3            Blue

In [ ]:
#karolina
people.loc[people['name'].str.lower().str.contains('p'),:]

###### **Exercise 2:**
select all people whose full name + surname has more than 12 characters.

In [43]:
# your code here
people.head(30)
people.name.str.replace(' ', '').str.len()>12 #gives preliminary boolean data (true/false) 
people.loc[people.name.str.replace(' ', '').str.len()>12] #str.replace() exclude empty spaces

               name  age country  sibilings favourite_color
0  erika schumacher   22      DE          2             Red
4    shekhar biswas   44      IN          1             Red

In [39]:
#karolina
people.loc[(people['name']).str.count('')>12,:] # 5 names with spaces

               name  age country  sibilings favourite_color
0  erika schumacher   22      DE          2             Red
2      maria rovira   23      ES          4          Yellow
3      ana garamond   29      ES          1            Blue
4    shekhar biswas   44      IN          1             Red
5      muriel adams   30      DE          2          Yellow

In [44]:
#anna
name_parts = people['name'].str.split(expand=True)
name_length = (name_parts[0] + name_parts[1]).str.len()
long_names = name_length > 12
people[long_names]

               name  age country  sibilings favourite_color
0  erika schumacher   22      DE          2             Red
4    shekhar biswas   44      IN          1             Red

In [18]:

import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'full_name': ['John Smith', 'Jane Doe', 'Michael Johnson', 'Kim Kardashian-West']})

# select people whose full name + surname has more than 12 characters
selected = df[df['full_name'].str.replace(' ', '').str.len() > 12]

print(selected)

# In the code above, the str.replace() method is used to remove all spaces from the full name, 
#and the resulting string is passed to the str.len() method to get its length. 
#The resulting boolean mask is then used to select the corresponding rows from the original dataframe. 
#This code is simpler and more readable than the previous one, especially if you are already familiar with the str methods of pandas Series objects.

selected = df[df['full_name'].apply(lambda x: len(x.replace(' ', ''))) > 12]
# another solution with lambda

             full_name
2      Michael Johnson
3  Kim Kardashian-West

###### **Exercise 3:**
select all people whose surname starts with the letter `e`:

In [49]:
# your code here
people.name.str.startswith('e')
people.loc[people.name.str.startswith('e')]

               name  age country  sibilings favourite_color
0  erika schumacher   22      DE          2             Red

In [46]:
#karolina
people.loc[people['name'].str.lower().str.contains(' e'),:] 
#right solution with surname. (' e') contains a space before 'e', than it separates names by space selecting only surname
#it works(' e') it searches for the string pattern '_e' empty space + e

         name  age country  sibilings favourite_color
7  alex edwin   71      UK          7            Blue

###### **Exercise 4:**
Create a new dataframe, `people_names`, where the first name and the last name are split into two different columns, `first_name` and `last_name`. The first row of the new dataframe should look like this:

`name           	first_name	last_name	age	country 	sibilings	favourite_color`

`erika schumacher	erika    	schumacher	22	DE      	2       	Red`

In [56]:
# your code here
#this solution does not make the whole trick.Look below for Anna's
people.head()
people_names_df = pd.DataFrame(people)
people_names_df
split_names = people_names_df.name.str.split(' ', expand=True)
x = people_names_df[['first_name', 'last_name']] = split_names
# split_names

         0           1
0    erika  schumacher
1     javi       lópez
2    maria      rovira
3      ana    garamond
4  shekhar      biswas
5   muriel       adams
6    saira       polom
7     alex       edwin
8      kit       ching
9      dog        woof

In [52]:
#anna
people[['first_name', 'last_name']] = people['name'].str.split(' ', expand=True)
people_names = pd.DataFrame(people[['name','first_name', 'last_name','age', 'country', 'sibilings', 'favourite_color']])
people_names

,name,first_name,last_name,age,country,sibilings,favourite_color
0,erika schumacher,erika,schumacher,22,DE,2,Red
1,javi lópez,javi,lópez,50,ES,0,Yellow
2,maria rovira,maria,rovira,23,ES,4,Yellow
3,ana garamond,ana,garamond,29,ES,1,Blue
4,shekhar biswas,shekhar,biswas,44,IN,1,Red
5,muriel adams,muriel,adams,30,DE,2,Yellow
6,saira polom,saira,polom,25,IN,3,Blue
7,alex edwin,alex,edwin,71,UK,7,Blue
8,kit ching,kit,ching,35,UK,0,Red
9,dog woof,dog,woof,2,XX,9,Gray